.mainbg {
    background-image: url("/assets/images/mobilebg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;

    @include breakpoint-up(large) {
        background-image: url("/assets/images/orangebird-landingpage-edited.png");
    }
}
.historybg {
    background-image: url("/assets/images/website-binangonan-rural-bank-07-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    min-height: 100vh;
    @include breakpoint-up(large) {
        background-image: url("/assets/images/website-binangonan-rural-bank-02.png");
    }
}
.whowearebg {
    background-image: url("/assets/images/mobile-website-binangonan-rural-bank-08-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;

    @include breakpoint-up(large) {
        background-image: url("/assets/images/website-binangonan-rural-bank-03-edited.png");
    }
}
.ourteambg {
    background-image: url("/assets/images/mobile-website-binangonan-rural-bank-11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;

    @include breakpoint-up(large) {
        background-image: url("/assets/images/website-binangonan-rural-bank-04.png");
    }
}
.lastbg {
    background-image: url("/assets/images/mobile-website-binangonan-rural-bank-05.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    @include breakpoint-up(large) {
        background-image: url("/assets/images/website-binangonan-rural-bank-05.png");
    }
}

.depositbg {
    background-image: url("/assets/images/addlbg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}
.missionbg {
    background-image: url("/assets/images/addlbg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}
.certdeptbg {
    background-image: url("/assets/images/addlbg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}
.featurebg {
    background-image: url("/assets/images/addlbg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}
