.mission {
    padding-top: 11rem;
    &__img {
        flex: 1 0 40%;
        background-image: url("//images/addtlasset2.png");
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        min-height: 46.1875rem;
    }

    &__text {
        flex: 1 0 50%;
        text-align: center;
        h1 {
            font-size: 3rem;
        }
        p {
            font-size: 1.3rem;
        }
    }
}
